<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>Researcher and Data Analyst</h1>
            <span><address>Beijing, CHN</address><time>2010 to 2019</time></span>
        </header>
        <p>Application of machine learning to predict aggressive periodontitis progression</p>
        <p>Human genetic data analysis with SAS</p>    
        <p>Human dental roots 3D shape digital model implementation</p>
        <header>
            <h1>Machien Learning Engineer</h1>
            <span><address>Helsinki, FI</address><time>2020 to present</time></span>
        </header>
        <p>Working with Python, Scikit-learn, Pytorch and TensorFlow among others to tackle real-life challenges</p>
    </article>
</section>
